.otziv {
    img {
        padding-right: 62px ;
    }
    .otziv-one {
        display: flex;
        padding-top: 69px;
        &__name {
            font-size: 18px;
            line-height: 1.2;
            font-weight: 700;
            color: #0d0d0d;
        }
        &__marafon {
            margin-top: 9px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #646464;
        }
        &__descr {
            width: 659px;
            height: 129px;
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 300;
            color: #0d0d0d;
        }
    }

}

